:root{
    --green: #41c97f;
    --black: black;
    --white: white;
    --grey: #364347;
    --shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
}

.pageheader{
    background-color: var(--grey);
    color: var(--white);
    padding: 1rem;
    margin-bottom: 0rem;
}

.pageheader .grid{
    width: 600px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.homebutton{
    cursor: pointer;
}

.page .gridborder{
    margin: 3rem 0 3rem 0;
}

.page .grid{
    position: relative;
    width: 70vw;
    display: grid;
    grid-template-columns: 50% 50%;
}

.page .grid .text{
    margin: 1rem;
}

.page .grid .images{
    height: 400px;
    width: 100%;
}

.page .grid .images .img{
    display: block;
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.youtube{
    margin-bottom: 2rem;
}

.projpagevid{
    width: 640px;
}

.projpageimg{
    width: 300px;
    height: 400px;
}

.white{
    color: var(--white);
}

.darkbg2{
    position: absolute;
    bottom: -10%;
    left: -50%;
    z-index: -1;
    width: 100vw;
    height: 120%;
    background-color: var(--grey);
}

.projgrid{
    width: 100vw;
    margin-bottom: 0rem;
    padding: 2.5rem 0 2.5rem 0;
}

.projbutton{
    margin-top: 2rem;
}

@media only screen and (max-width: 1328px){
}

@media only screen and (max-width: 1024px) {   
    .page .grid .text{
        margin: 1rem;
    }
    .page .grid{
        width: 90vw;
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (max-width: 768px) {
    .projpagevid{
        width: 500px;
    }
    .projpageimg{
        width: 225px;
        height: 300px;
    }
}
@media only screen and (max-width: 664px) {
    .page .grid{
        position: relative;
        width: 70vw;
        display: block;
        grid-template-columns: 50% 50%;
    }
}